.coding-profile-heading{
    margin-top: 4vh;
    font-size: 3rem;
}
.icon{
    color: white;
}
.each-profile{
    width:100%;
}
.each-profile-linker{
    width:100%;
    padding: 2rem;
    padding-left: 8rem;
    position:relative
}
.profile-heading{
    text-align: center;
    align-items: center;
    position: absolute;
    top: 3.5rem;
    left: 15rem;
    font-size: 2rem;
}
@media screen and (max-width:1020px) {
    .coding-profile{
        position: relative;
       
    }
    .each-profile{
        padding: 2rem;
        padding-left: 2rem;
        position:relative
    }
    .icon{
        position: absolute;
        left: 2vw;
    }
    .profile-heading{
        text-align: center;
        align-items: center;
        position: absolute;
        top: 3rem;
        left: 6rem;
        font-size: 1.8rem;
    }
    .coding-profile-heading{
        font-size: 2.4rem;
    }
}